body {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}

main {
    display: flex;
}

.column {
    flex: 50%;
}

h1 {
    text-align: center;
    width: 100%;
    background-color: rgba(0, 0, 8, 0.786);
    color: white;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    border-radius: 5%;
}

div {
    margin-left: 10px;
}

img {
    width: 100%;
    margin: 0 auto;
    border-radius: 4px;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "slnt" 0;
  }

.reddit-sans-font {
  font-family: "Reddit Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#buttons {
    display: flex;
    justify-content: center;
}

#love {
    background-color: crimson;
    color: white;
    border-radius: 50%;
}